<footer class="footer">
    <section class="columna">
        Copyright
    </section>
    <section class="columna">
        <ul>
            <li><a href="#logo">Inicio</a></li>
            <li><a href="#sobre">Sobre Mi</a></li>
            <li><a href="#porta">Portafolio</a></li>
            <li><a href="#contacto_contenedor">Contacto</a></li>
        </ul>
    </section>
</footer>