<section class="contacto_contenedor" id="contacto_contenedor">

    <h2>Contactame</h2>

    <form action="portafolio.html" method="get" id="formulario">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <br> <br>

        <label for="telefono">Número Telefónico</label>
        <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" required>
        <br> <br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Dirección de Email" required>
        <br> <br>

        <label for="asuntoText">Asunto</label>
        <input type="text" name="asuntoText" id="asuntoText" placeholder="Asunto" required>
        <br> <br>


        <label for="txtMensaje">Mensaje</label>
        <textarea name="txtMensaje" id="txtMensaje" cols="30" rows="10" placeholder="Mensaje" required></textarea>

        <br> <br>
        <button type="submit" id="btnEnviar">Enviar</button>

    </form>

</section>