<header>
    <a href="#logo" class="logo" id="logo">Nahomy</a>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobre">Sobre Mi</a></li>
        <li><a href="#porta">Portafolio</a></li>
        <li><a href="#contacto_contenedor">Contacto</a></li>
      </ul>
    </nav>
  </header>