<section class="inicio" id="inicio">
    <div class="imagen_pre">
        <img src="https://placehold.co/100x100" alt="Imagen del Programador">
        <h1>Nahomy Banegas</h1>
        <p>Estudiante de Ingenieria en Ciencias de la Computación</p>
    </div>
</section>

