<section id="porta">
    <h2>Portafolio</h2>

    <section class="portafolio_contenedor" id="portafolio_contenedor">
        <div class="imagenes_portafolio">
            <img src="/proyecto1.jpeg" alt="Imagen Proyecto 1">
            <img src="/proyecto2.png" alt="Imagen Proyecto 2">
            <img src="/proyecto3.jpg" alt="Imagen Proyecto 3">
        </div>
    </section>
</section>