<section class="sobre_mi_contenedor" id="sobre_mi_contenedor">
    <div class="descripcion">
        <h2 id="sobre">Sobre Mi</h2>
        <p>Hola, soy Nahomy Banegas, una estudiante apasionado de ingeniería en sistemas con un particular gusto por la
            resolución creativa de problemas. A lo largo de mi carrera académica, he desarrollado habilidades en el
            diseño
            e implementación de sistemas informáticos.</p>
    </div>

    <div class="datos_personales">
        <h3>Datos Personales</h3>
        <ul>
            <li>Cumpleaños: 30-05-2003</li>
            <li>Teléfono: +504 99999999</li>
            <li>Email: coreo@gmail.com</li>
            <li>Residencia: Honduras</li>
        </ul>
    </div>

</section>